<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <%- partial('common/head') %>
    <meta name="google-site-verification" content="K-yukTRlzQwycOQg121vEv454RGAUZ0gkVp0jHPQcjw" />
</head>
<body>
    <%- partial('common/navbar', { page }) %>
    <%- body %>
    <%- partial('common/footer') %>
    <%- partial('common/scripts') %>

    <% if (has_config('search.type')) { %>
    <%- partial('search/' + get_config('search.type')) %>
    <% } %>
</body>
</html>