<footer class="footer">
  <div class="container">
    <% if (has_config('footer_links')) { %>
      <div class="columns content is-mobile is-centered">
        <div class="column is-narrow">
          <div class="columns is-mobile is-centered">
            <% for (let name in get_config('footer_links')) { %>
              <% let link = get_config('footer_links')[name]; %>
              <a class="column is-narrow has-text-black" title="<%= name %>" href="<%= typeof(link) === 'string' ? link : link.url%>">
                <% if (typeof(link) === 'string') { %>
                  <%= name %>
                <% } else { %>
                  <i class="<%= link.icon %>"></i>
                <% } %>
              </a>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>

    <div class="columns is-mobile <%= has_config('footer_links') ? '' : 'content' %>">
      <div class="column is-narrow">
        &copy; <%= date(new Date(), 'YYYY') %> <%= get_config('author') || get_config('title') %>&nbsp; All Rights Reserved.
      </div>
      <%- partial('common/languages') %>

      <div class="column is-offset-7">
        Powered by ❤️
      </div>
    </div>
  </div>
</footer>